<div class="container-fluid">
    <div class=" justify-content-center text-center">
        <img class="displayed img-fluid" src = '/assets/images/walker.jpg'  alt="walker">
        <h3>{{walkerName}}</h3>
        <p>{{walkerLocation}} {{walkerZip}}</p>
        <p>{{walkerAvailability}}</p>
        <p>{{walkerExperience}}</p>
        <p>{{walkerPhone}}</p>
        <p>{{walkerEmail}}</p>
        <hr/>
    </div>
</div>